html, body {
  font-family: 'Lato', 'Open Sans', sans-serif;
  min-height: 100vh;
  background-color: #edeff0;
}

optgroup {
  color: #666;
}

option {
  color: black;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

.Game {
  font-weight: 900;
  margin-bottom: 10px;
  border-radius: 10px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  padding: 10px;
}

.Game img {
  display: inline-block;
  width: 240px;
  height: 108px;
  border-radius: 100px;
}

.Game .purchase {
  background-color: #0ECF5B;
  border-radius: 4px;
}

.Game .value {
  background-color: #FFAE2B;
  border-radius: 4px;
}
.Game .pbtn {
  background-color: #aaa;
  border-radius: 4px;
}

.Game:hover {
  background-color: #7DA9BE;
}

.navbar {
  background-color: #1D5672;
  height: 64px;
}

a {
  color: #111;
}

a:hover {
  color: #666;
  text-decoration: none;
}

#content {
  font-size: 1.1rem;
  padding-bottom: 72px;
}

#content .container {
  border-radius: 10px;
  padding: 20px;
}

.addimg {
  border-radius: 8px;
  margin: 10px;
}

.navbar a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
}


.footer {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #1D5672;

  position: absolute;
  bottom: 0;
  height: 72px;
  width: 100%;
}



#page-container {
  position: relative;
  min-height: 100vh;
}
